.equation-part{
    background-color: rgb(156, 136, 102);
    padding: 10px;
    border-radius: 15px;
    display: block;
}

input{
        width: 50px;
        font-size: medium;
        font-weight: bold;
        border-radius: 10px;
        color: rgb(45, 1, 78);
}

button{
    color: rgb(65, 65, 47);
    border-radius: 5px;
}

#error-part{
    color: rgb(168, 16, 16);
    font-weight: 100;
    margin-top: 15px;
    font-style: italic;
    display: none;
}

#solution-part{
    color: rgb(5, 5, 5);
    font-weight: 100;
    margin-top: 15px;
    font-style: italic;
    display: none;
}
